/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

h2{
	text-align:center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.displayOggetti {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}
.listaOggettiHome {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}
.listaNumericColumn {
  text-align: right;
  width:8em;
}
.aggiuntaPanel {
  margin: 10px 0px 15px 0px;
}

.userinfobox{
	width:200px;
	position: absolute;
	left: 3%!important;
    top: 3%!important;
}

#footer{
	position:relative;
	bottom:0;
	width:100%;	
}

.center{
	margin: 0 auto;
}










